.Setup {
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
}

.Setup .players-list {
  margin-top: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.Setup .players-list li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed white;
}

.Setup .players-list li span {
  padding: 10px;
  font-size: 16px;
}

.Setup .players-list li button {
  background-color: white;
  padding: 10px 20px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}

.Setup .new-player {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
}

.Setup .new-player .player-name {
  font-size: 16px;
  background-color: white;
  padding: 10px;
  color: #333;
  flex-grow: 1;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.Setup button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Setup .new-player button {
  background-color: white;
  padding: 10px 20px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}

.Setup .play {
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
  background: linear-gradient(320deg,#ff785f 0,#ff2a45 50%,#a143be 100%);
  color: #282c34;
  font-weight: bold;
  letter-spacing: .3rem;
}
