.Game {
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
}

.Game .top-row {
  display: flex;
}

.Game .return {
  cursor: pointer;
  padding: 15px 0;
  background: linear-gradient(320deg,#ff785f 0,#ff2a45 50%,#a143be 100%);
  color: #282c34;
  font-weight: bold;
  letter-spacing: .3rem;
  line-height: 18px;
  flex-grow: 1;
}

.Game .master-detective {
  cursor: pointer;
  color: #282c34;
  font-weight: bold;
  line-height: 18px;
  padding: 15px;
  background: #ccc;
}

.Game .master-detective.active {
  background: #ff2a45;
}

.Game .tracker {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.Game .tracker tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.Game .tracker td {
  padding: .625em;
  text-align: center;
}

.Game .tracker span {
  font-size: 14px;
  pointer-events: none;
}

.Game .tracker span.header {
  padding: 6px 10px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.Game .tracker td.sectionHeader {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
}

.Game .tracker td.sectionHeader .addNew {
  padding: 6px 20px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  cursor: pointer;
}

.Game .modalBackground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.Game .modalBackground.active {
  display: block;
}

.Game .modalBackground .modalContents {
  width: 50%;
  min-width: 370px;
  margin: 100px auto 0 auto;
  background: linear-gradient(320deg,#1c2a47 0,#282c34 50%,#24365b 100%);
  padding: 50px;
}

.Game .modalBackground .modalContents h4 {
  margin-top: 0;
}

.Game .modalBackground .modalContents .newAsset {
  display: none;
}

.Game .modalBackground .modalContents .newAsset.active {
  display: block;
}

.Game .modalBackground .modalContents .removeAsset {
  display: none;
}

.Game .modalBackground .modalContents .removeAsset.active {
  display: block;
}

.Game .modalBackground .modalContents .inputContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Game .modalBackground .modalContents .inputContainer input {
  margin-left: 20px;
  line-height: 30px;
  font-size: 30px;
  padding: 5px 20px;
  letter-spacing: 4px;
}

.Game .modalBackground .modalContents .inputContainer .submit {
  margin-right: 20px;
  padding: 20px;
  cursor: pointer;
}

.Game .tracker .assetContainer {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
}

.Game .tracker .assetContainer .removeAsset {
  padding: 6px 20px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  line-height: 1px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .Game .tracker .assetContainer .removeAsset {
    padding: 6px 4px;
  }
  .Game .modalBackground .modalContents .newAsset input {
    margin-left: 0;
    width: 100%;
  }
  .Game .modalBackground .modalContents .newAsset .submit {
    margin-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .Game .tracker .assetContainer .removeAsset {
    font-size: 10px;  
  }
  .Game .tracker {
    font-size: 10px;
  }
}
