.Game {
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
}

.Game .top-row {
  display: flex;
}

.Game .return {
  cursor: pointer;
  padding: 15px 0;
  background: linear-gradient(320deg,#ff785f 0,#ff2a45 50%,#a143be 100%);
  color: #282c34;
  font-weight: bold;
  letter-spacing: .3rem;
  line-height: 18px;
  flex-grow: 1;
}

.Game .master-detective {
  cursor: pointer;
  color: #282c34;
  font-weight: bold;
  line-height: 18px;
  padding: 15px;
  background: #ccc;
}

.Game .master-detective.active {
  background: #ff2a45;
}

.Game .tracker {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.Game .tracker tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.Game .tracker td {
  padding: .625em;
  text-align: center;
}

.Game .tracker span {
  font-size: 14px;
  pointer-events: none;
}

.Game .tracker span.header {
  padding: 6px 10px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.Game .tracker td.sectionHeader {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
}

.Game .tracker td.sectionHeader .addNew {
  padding: 6px 20px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  cursor: pointer;
}

.Game .modalBackground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.Game .modalBackground.active {
  display: block;
}

.Game .modalBackground .newAsset {
  width: 50%;
  margin: 100px auto 0 auto;
  background-color: rgba(255, 255, 255, .3);
  padding: 30px;
}

.Game .modalBackground .newAsset .inputContainer {
  display: flex;
  justify-content: center;
}

.Game .modalBackground .newAsset .inputContainer input {
  margin-left: 20px;
  line-height: 30px;
  font-size: 30px;
  padding: 5px 20px;
  letter-spacing: 4px;
}

.Game .modalBackground .newAsset .inputContainer .submit {
  margin-right: 20px;
  padding: 20px;
  cursor: pointer;
}
